################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Decktacular/FileContentIndex/31b2aaab-50a3-41d1-b342-a0d299127cc6.vsidx
