################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/11bugs_Solitaire/Content/bin/DesktopGL/SemCarta/Fundo1.xnb
/11bugs_Solitaire/Content/bin/DesktopGL/SemCarta/Fundo2.xnb
/11bugs_Solitaire/Content/bin/DesktopGL/SemCarta/Volta.xnb
/11bugs_Solitaire/Content/obj/DesktopGL/SemCarta/Fundo1.mgcontent
/11bugs_Solitaire/Content/obj/DesktopGL/SemCarta/Fundo2.mgcontent
/11bugs_Solitaire/Content/obj/DesktopGL/SemCarta/Volta.mgcontent
/11bugs_Solitaire/Content/SemCarta/Fundo1.png
/11bugs_Solitaire/Content/SemCarta/Fundo2.png
/11bugs_Solitaire/Content/SemCarta/Volta.png
/11bugs_Solitaire/Content/Content.mgcb
